absl-py==0.14.0
alabaster==0.7.12
antlr4-python3-runtime==4.8
appdirs==1.4.4
Babel==2.9.1
black==21.4b2
cachetools==4.2.2
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
cloudpickle==2.0.0
cycler==0.10.0
Cython==0.29.24
detectron2 @ git+https://github.com/facebookresearch/detectron2.git@730ccefc7794bd2db0558128c341babdf328e104
docutils==0.17.1
future==0.18.2
fvcore==0.1.5.post20210915
google-auth==1.35.0
google-auth-oauthlib==0.4.6
grpcio==1.40.0
hydra-core==1.1.1
idna==3.2
imageio==2.9.0
imagesize==1.2.0
importlib-resources==5.2.2
iopath==0.1.9
Jinja2==3.0.1
joblib==1.0.1
kiwisolver==1.3.2
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==2.0.1
matplotlib==3.4.3
mypy-extensions==0.4.3
networkx==2.6.3
numpy==1.21.2
oauthlib==3.1.1
omegaconf==2.1.1
opencv-python==4.5.3.56
packaging==21.0
pandas==1.3.3
parameterized==0.8.1
pascal-voc-tools==0.2.3
pathspec==0.9.0
pbr==5.6.0
Pillow==8.3.2
portalocker==2.3.2
prettytable==2.2.0
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.2
pydot==1.4.2
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.18.3
scikit-learn==0.24.2
scipy==1.7.1
seaborn==0.11.2
six==1.16.0
sklearn==0.0
snowballstemmer==2.1.0
Sphinx==4.2.0
sphinxcontrib-apidoc==0.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tabulate==0.8.9
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
termcolor==1.1.0
threadpoolctl==2.2.0
tifffile==2021.8.30
toml==0.10.2
torch==1.9.1+cu111
torchaudio==0.9.1
torchvision==0.10.1+cu111
tqdm==4.62.3
typing-extensions==3.10.0.2
ujson==4.2.0
uncertainty-calibration==0.0.9
urllib3==1.26.6
Wand==0.6.7
wcwidth==0.2.5
Werkzeug==2.0.1
yacs==0.1.8
zipp==3.5.0